<div id="pseudo-body" class="account2">
  <!-- BEGIN LOGIN BOX -->
  <div class="container" id="login-block">
    <i class="user-img icon-login"></i>
    <div style="display: table; width: 100%">
      <div class="account-info bg-red">
        <a [routerLink]="['/auth']" class="logo"></a>
        <h3>Sintering the Impossible</h3>
        <ul>
          <li><i class="icon-earphones-alt"></i> CRM</li>
          <li><i class="icon-chemistry"></i> Production</li>
          <li><i class="icon-layers"></i> HRM</li>
          <li><i class="icon-layers"></i> Task Management</li>
        </ul>
      </div>
      <div class="account-form">
        <form class="form-signin" role="form" [formGroup]="">
          <h3><strong>Sign in</strong> to your account</h3>
          <div class="append-icon">
            <input type="text" class="form-control form-white" placeholder="Username" required>
            <i class="icon-user"></i>
          </div>
          <div class="append-icon m-b-20">
            <input type="password" class="form-control form-white" placeholder="Password" required>
            <i class="icon-lock"></i>
          </div>
          <button type="submit" class="btn btn-lg btn-dark btn-rounded" (click)="onSubmit()">Sign In</button>
        </form>
      </div>
    </div>
  </div>
  <!-- END LOGIN BOX -->
  <p class="account-copyright">
    <span>Copyright © 2020 </span><span>SINTERING SOLUTIONS PVT LTD. </span><span>All rights reserved.</span>
  </p>
</div>
