.btn {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  border: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 7px 24px 8px;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn i {
  font-size: 12px;
}
.btn:hover {
  color: #fff;
  outline: 0;
  outline: none;
}
.btn:focus {
  color: #fff;
  outline: none !important;
  outline: 0;
  outline: none;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: none;
}
.btn:active focus {
  outline: none !important;
}
.btn:not(.btn-sm):not(.btn-hg):not(.btn-xs):not(.btn-lg):not(.bootstrap-touchspin-up):not(.bootstrap-touchspin-down) {
  height: 35px;
}
.btn.bootstrap-touchspin-up,
.btn.bootstrap-touchspin-down {
  padding: 8px 20px 8px 15px !important;
}
.btn.bootstrap-touchspin-up i,
.btn.bootstrap-touchspin-down i {
  padding-right: 0 !important;
  padding-left: 0 !important;
  left: auto !important;
}
.input-group-btn:not(.btn-sm):not(.btn-hg):not(.btn-xs):not(.btn-lg) > .btn:not(.btn-sm):not(.btn-hg):not(.btn-xs):not(.btn-lg) {
  height: 35px;
}
.btn.dropdown-toggle {
  margin-bottom: 0;
  padding: 7px 12px 8px 24px;
}
.rtl .btn.dropdown-toggle {
  padding: 7px 24px 8px 12px;
}
.pull-right .btn {
  margin-right: 0;
}
.pull-left .btn {
  margin-left: 0;
}
.btn.btn-sm {
  font-size: 11px;
  padding: 5px 12px !important;
}
.btn.btn-sm .icons-office-52:before {
  font-size: 8px;
}
.btn.btn-lg {
  font-size: 16px;
  padding: 11px 48px;
}
.btn.btn-lg i {
  font-size: 18px;
}
.btn.btn-lg:hover {
  color: white;
}
.main-content .page-content .panel .panel-content .btn:not(.btn-sm) i {
  padding-right: 8px;
}
.modal-footer .btn {
  margin-bottom: 0;
}
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: none;
}
.btn.active:focus {
  outline: none !important;
}
.btn.disabled {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  color: #ffffff;
  filter: alpha(opacity=100);
  filter: alpha(opacity=70);
  opacity: .7;
  opacity: 1;
}
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  color: #ffffff;
  filter: alpha(opacity=100);
  filter: alpha(opacity=70);
  opacity: .7;
  opacity: 1;
}
fieldset[disabled].btn {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  color: #ffffff;
  filter: alpha(opacity=100);
  filter: alpha(opacity=70);
  opacity: .7;
  opacity: 1;
}
.btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
.btn-embossed:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
.btn-square {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.btn-embossed.active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-link {
  color: #16a085;
}
.btn-link:hover {
  background-color: transparent;
  color: #1abc9c;
  text-decoration: underline;
}
.btn-link:focus {
  background-color: transparent;
  color: #1abc9c;
  text-decoration: underline;
}
.btn-link[disabled]:hover,
fieldset[disabled].btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled].btn-link:focus {
  color: #bdc3c7;
  text-decoration: none;
}
.btn.btn-hg {
  font-size: 22px;
  line-height: 1.227;
  padding: 13px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-lg {
  font-size: 17px;
  line-height: 1.471;
  padding: 10px 19px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-lg .caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 8px;
}
.btn-sm {
  font-size: 13px;
  line-height: 1.385;
  margin-left: 10px;
  padding: 2px 10px !important;
  padding: 9px 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-sm:first-child {
  margin-left: 0;
}
.btn-xs {
  font-size: 12px;
  line-height: 1.083;
  padding: 6px 9px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-tip {
  font-size: 92%;
  font-weight: 300;
  padding-left: 10px;
}
.btn-block {
  white-space: normal;
}
.btn-block i {
  margin-top: .2em;
}
.dropup .btn-default .caret {
  border-bottom-color: #fff;
}
.dropup .caret {
  border-bottom-width: 4px;
}
.dropup .btn-lg .caret {
  border-bottom-width: 4px;
}
.dropup .btn-primary .caret,
.dropup .btn-success .caret,
.dropup .btn-warning .caret,
.dropup .btn-danger .caret,
.dropup .btn-info .caret {
  border-bottom-color: #fff;
}
.btn-group-xs > .btn {
  font-size: 12px;
  line-height: 1.083;
  padding: 6px 9px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-group-sm > .btn {
  font-size: 13px;
  line-height: 1.385;
  padding: 9px 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-group-lg > .btn {
  font-size: 17px;
  line-height: 1.471;
  padding: 10px 19px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-group-gh > .btn {
  font-size: 22px;
  line-height: 1.227;
  padding: 13px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0;
}
.btn-group > .btn.btn-gh + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
.btn-group > .btn.btn-sm + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}
.dropdown-toggle .caret {
  margin-left: 8px;
  margin-top: 0;
}
.btn-group > .btn {
  font-weight: 400;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-left: 1px solid rgba(12, 12, 12, 0.1) !important;
}
.btn-group > .btn:last-child :not(:first-child) {
  border-left: 1px solid rgba(12, 12, 12, 0.1) !important;
}
.btn-group > .dropdown-menu {
  font-weight: 400;
}
.btn-group > .popover {
  font-weight: 400;
}
.btn-group {
  margin-right: 10px;
}
.btn-group:focus .dropdown-toggle {
  -webkit-transition: .25s;
  outline: 0;
  transition: .25s;
}
.btn-group i {
  padding-right: 7px;
}
.btn-group .btn {
  margin-right: 0;
}
.btn:not(.btn-sm):not(.btn-hg):not(.btn-xs):not(.btn-lg):not(.bootstrap-touchspin-up):not(.bootstrap-touchspin-down) {
  height: 35px;
}
.btn-group button.btn-sm {
  height: 25px;
}
.btn-group button.btn-xs {
  height: 24px;
}
.btn-group button.btn-lg {
  height: 45px;
}
.btn-group button.btn-hg {
  height: 52px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.75);
}
.btn-group.open .dropdown-toggle.btn-default {
  color: #616C76;
}
.btn-toolbar .btn.active {
  color: #fff;
}
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  margin: 0 1px;
}
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 4px;
}
.buttons-page .btn {
  margin-bottom: 10px;
}
.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret {
  border-top-color: #fff;
}
.btn-default {
  background-color: #e0e6eb;
  color: #616c76;
}
.btn-default .caret {
  border-top-color: #616c76;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #d0dae1;
  border-color: #d0dae1;
  color: #616c76;
}
.btn-default.active {
  background: #c1cdd7;
  border-color: #c1cdd7;
  color: #616c76;
}
.open .dropdown-toggle.btn-default {
  background: #a2b4c3;
  border-color: #a2b4c3;
  color: #616c76;
}
.open .dropdown-toggle.btn-primary {
  background: #1b5765;
  border-color: #1b5765;
}
.open .dropdown-toggle.btn-info {
  background: #7b00ff;
  border-color: #7b00ff;
}
.open .dropdown-toggle.btn-white {
  background: #cccccc;
  border-color: #cccccc;
}
.open .dropdown-toggle.btn-blue {
  background: #005673;
  border-color: #005673;
}
.open .dropdown-toggle.btn-danger {
  background: #8a2e2e;
  border-color: #8a2e2e;
}
.open .dropdown-toggle.btn-dark {
  background: #070708;
  border-color: #070708;
}
.open .dropdown-toggle.btn-success {
  background: #0b4d3f;
  border-color: #0b4d3f;
}
.open .dropdown-toggle.btn-warning {
  background: #bb5e00;
  border-color: #bb5e00;
}
.open .dropdown-toggle.btn-inverse {
  background: #10161c;
  border-color: #10161c;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled].btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled].btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled].btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled].btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled].btn-default.active {
  background-color: #839baf;
  border-color: #839baf;
}
.btn-primary {
  background-color: #319db5;
  color: #fff;
}
.btn-primary:active {
  background: #267a8d;
  border-color: #267a8d;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #2c8ca1;
  border-color: #2c8ca1;
  color: #fff;
}
.btn-primary.active {
  background: #267a8d;
  border-color: #267a8d;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled].btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled].btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled].btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled].btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled].btn-primary.active {
  background-color: #10353d;
  border-color: #10353d;
}
.btn-info {
  background-color: #b066ff;
  color: #fff;
}
.btn-info:active {
  background: #9633ff;
  border-color: #9633ff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #a34cff;
  border-color: #a34cff;
  color: #fff;
}
.btn-info.active {
  background: #9633ff;
  border-color: #9633ff;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled].btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled].btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled].btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled].btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled].btn-info.active {
  background-color: #6300cc;
  border-color: #6300cc;
}
.btn-white {
  background-color: #ffffff;
  border: 1px solid #E0E0E0 !important;
  color: #373C40;
}
.btn-white:active {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-white.btn-transparent {
  padding: 6px 24px;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-color: #f2f2f2;
  border-color: #d6d6d6;
  color: #333333;
}
.btn-white.active {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled].btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled].btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled].btn-white:focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled].btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled].btn-white.active {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-blue {
  background-color: #00a2d9;
  color: #fff;
}
.btn-blue:active {
  background: #007ca6;
  border-color: #007ca6;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-color: #008fc0;
  border-color: #008fc0;
  color: #fff;
}
.btn-blue.active {
  background: #007ca6;
  border-color: #007ca6;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled].btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled].btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled].btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled].btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled].btn-blue.active {
  background-color: #003040;
  border-color: #003040;
}
.btn-danger {
  background-color: #c75757;
  color: #fff;
}
.btn-danger:active {
  background: #b03b3b;
  border-color: #b03b3b;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #c14444;
  border-color: #c14444;
  color: #fff;
}
.btn-danger.active {
  background: #b03b3b;
  border-color: #b03b3b;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled].btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled].btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled].btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled].btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled].btn-danger.active {
  background-color: #642121;
  border-color: #642121;
}
.btn-dark {
  background-color: #353940;
  color: #fff;
}
.btn-dark .caret {
  border-top-color: #DDE4EC;
}
.btn-dark:active {
  background: #1e2024;
  border-color: #1e2024;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-color: #292d32;
  border-color: #292d32;
  color: #fff !important;
}
.btn-dark.active {
  background: #1e2024;
  border-color: #1e2024;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled].btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled].btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled].btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled].btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled].btn-dark.active {
  background-color: #000000;
  border-color: #000000;
}
.btn-success {
  background-color: #18a689;
  color: #fff;
}
.btn-success:active {
  background: #127964;
  border-color: #127964;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #159077;
  border-color: #159077;
  color: #fff;
}
.btn-success.active {
  background: #127964;
  border-color: #127964;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled].btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled].btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled].btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled].btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled].btn-success.active {
  background-color: #05201b;
  border-color: #05201b;
}
.btn-warning {
  background-color: #ff9122;
  color: #fff;
}
.btn-warning:active {
  background: #ee7800;
  border-color: #ee7800;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #ff8408;
  border-color: #ff8408;
  color: #fff;
}
.btn-warning.active {
  background: #ee7800;
  border-color: #ee7800;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled].btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled].btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled].btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled].btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled].btn-warning.active {
  background-color: #884400;
  border-color: #884400;
}
.btn-inverse {
  background-color: #34495e;
  color: #fff;
}
.btn-inverse:active {
  background: #222f3d;
  border-color: #222f3d;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-color: #2b3c4e;
  border-color: #2b3c4e;
  color: #fff;
}
.btn-inverse.active {
  background: #222f3d;
  border-color: #222f3d;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled].btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled].btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled].btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled].btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled].btn-inverse.active {
  background-color: #000000;
  border-color: #000000;
}
.btn.btn-transparent {
  background-color: transparent;
  margin-left: 0;
  margin-right: 20px;
}
.btn.btn-transparent:hover {
  color: #464646;
}
.btn.btn-sm.btn-transparent {
  background: none;
  color: #696969;
}
.btn.btn-fb {
  background-color: #3a548b;
  color: #fff;
}
.btn.btn-fb:hover {
  background-color: #364F83;
  color: #fff;
}
.btn-default.btn-transparent {
  border: 1px solid #D3D7DB !important;
  color: #333333;
}
.btn-default.btn-transparent:hover {
  background-color: rgba(197, 202, 208, 0.2);
  border: 1px solid #c5cad0;
  color: #333333;
}
.btn-primary.btn-transparent {
  border: 1px solid #2c8ca1 !important;
  color: #2c8ca1;
  background-color: transparent !important;
}
.btn-primary.btn-transparent:hover {
  background-color: rgba(37, 140, 209, 0.1) !important;
  border: 1px solid #258cd1;
  color: #258cd1;
}
.btn-info.btn-transparent {
  border: 1px solid #b066ff !important;
  color: #b066ff;
}
.btn-info.btn-transparent:hover {
  background-color: rgba(163, 76, 255, 0.1);
  border: 1px solid #46b8da;
  color: #a34cff;
}
.btn-warning.btn-transparent {
  border: 1px solid #ff8408 !important;
  color: #ff8408;
}
.btn-warning.btn-transparent:hover {
  background-color: rgba(238, 162, 54, 0.1);
  border: 1px solid #eea236;
  color: #eea236;
}
.btn-danger.btn-transparent {
  border: 1px solid #c14444 !important;
  color: #c14444;
}
.btn-danger.btn-transparent:hover {
  background-color: rgba(212, 63, 58, 0.1);
  border: 1px solid #d43f3a;
  color: #d43f3a;
}
.btn-success.btn-transparent {
  border: 1px solid #159077 !important;
  color: #159077;
}
.btn-success.btn-transparent:hover {
  background-color: rgba(76, 174, 76, 0.1);
  border: 1px solid #4cae4c;
  color: #4cae4c;
}
.btn-dark.btn-transparent {
  border: 1px solid #292d32 !important;
  color: #292d32 !important;
}
.btn-dark.btn-transparent:hover {
  background-color: rgba(31, 34, 37, 0.1);
  border: 1px solid #1f2225;
  color: #1f2225;
}
.btn-translucent {
  background: rgba(0, 0, 0, 0.2);
  color: #fff !important;
}
.btn-translucent:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff !important;
}
.btn-translucent i {
  padding-right: 8px;
}
.btn.btn-rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.btn.btn-square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .dropdown-toggle:not(:first-child) {
  border-left: 1px solid rgba(12, 12, 12, 0.1) !important;
}
.btn-group-vertical {
  margin-right: 20px;
}
.btn-group-vertical .btn {
  margin-bottom: 0;
}
.btn-group-vertical .btn i {
  padding-right: 0 !important;
}
.btn-icon {
  height: 35px;
  line-height: normal;
  padding: 7px 11px;
  width: 35px;
}
.btn-icon i {
  width: 11px;
}
