<div id="pseudo-body" class="fixed-topbar fixed-sidebar theme-sdtl color-red" [ngClass]="{'sidebar-collapsed': isSideBarCollapsed}">
  <section>
    <!-- BEGIN SIDEBAR -->
    <div class="sidebar">
      <div class="logopanel">
        <h1>
          <a [routerLink]="['/console']"></a>
        </h1>
      </div>
      <div class="sidebar-inner">
        <ul class="nav nav-sidebar m-t-20">
          <li *ngFor="let myMenuItem of myMenuItems" [ngClass]="{'nav-hover': myMenuItem.hover, 'nav-parent': myMenuItem.active, 'active': myMenuItem.active}" (mouseover)="myMenuItemHoverClass(myMenuItem)"
            (mouseout)="myMenuItemHoverClass(myMenuItem)">
            <a [routerLink]="myMenuItem.routerLink ? myMenuItem.routerLink : null" (click)="myMenuItemActivateClass(myMenuItem)"><i [ngClass]="myMenuItem.icon"></i><span>{{ myMenuItem.name }}</span> <span class="arrow icon-arrow-down"
                *ngIf="myMenuItem.children && myMenuItem.children.length > 0"></span></a>
            <ul class="children collapse" *ngIf="myMenuItem.children && myMenuItem.children.length > 0">
              <li *ngFor="let mySubMenuItem of myMenuItem.children"><a [routerLink]="mySubMenuItem.routerLink ? mySubMenuItem.routerLink : null"> {{ mySubMenuItem.name }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- END SIDEBAR -->
    <div class="main-content">
      <!-- BEGIN TOPBAR -->
      <div class="topbar">
        <div class="header-left">
          <div class="topnav">
            <a class="menutoggle" (click)="isSideBarCollapsed=!isSideBarCollapsed"><span class="menu__handle"><span>Menu</span></span></a>
          </div>
        </div>
      </div>
      <!-- END TOPBAR -->
      <!-- HACK for making some stylesheets to be applied to all childs. Negative consequence the style sheets apply to complete application. -->
      <app-console-main-content></app-console-main-content>
      <router-outlet></router-outlet>
    </div>
    <!-- END MAIN CONTENT -->
  </section>
</div>
