<div class="page-content">
  <div class="header">
    <h2>Displaying All <strong>Master Data</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li class="active"> Master Data
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../currencies']">Currencies</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../taxes']">Taxes</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../operations']">Operations</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../machines']">Machines</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../packaging-standards']">Packaging Standards</a>
        </div>
      </div>
    </div>
  </div>
</div>
