<div class="page-content">
  <div class="header">
    <h2>Displaying All <strong>Master Data</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li class="active"> Master Data
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../currencies']"><i class="material-icons-outlined">local_atm</i> Currencies</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../taxes']"><i class="material-icons-outlined">toll</i> Taxes</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../operations']"><i class="material-icons-outlined">construction</i>Operations</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../machines']"><i class="material-icons-outlined">countertops</i>Machines</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../packaging-standards']"><i class="material-icons-outlined">backpack</i>Packaging Standards</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../equipments']"><i class="material-icons-outlined">carpenter</i>Equipments</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../raw-materials']"><i class="material-icons-outlined">ac_unit</i>Raw Materials</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-content p-0">
          <a class="f-20 p-20 btn-block" [routerLink]="['../blends']"><i class="material-icons-outlined">toys</i>Blends</a>
        </div>
      </div>
    </div>
  </div>
</div>
